{% extends 'TheWorld/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Now , it is time to add somthing here </h3>


                </div>
            </div>
        </div>
    </div>
</header>


<form method="POST">
    <div class="form-group">

        {% csrf_token %}
        {{ form | crispy }}
        <button class="save btn btn-default" type="submit">Post</button>

    </div>
</form>
{% endblock %}