<!DOCTYPE html>
<html>

<head>
    <title>The World Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta content="notranslate" name="google"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet"/>
</head>

<body>
<style>
            body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }
        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        }
        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }
        .masthead {
            background: #3398E1;
            height: auto;
            padding-bottom: 15px;
            box-shadow: 0 16px 48px #E3E7EB;
            padding-top: 10px;
        }

}

</style>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">TheWorld</a>


        <ul class="navbar-nav ml-auto">
            <li class="nav-item text-black">
                <a class="nav-link text-black font-weight-bold" href="{% url 'add_post' %}">Add Post</a>
            </li>
        </ul>

    </div>
</nav>
{% block content %}

{% endblock content %}

<footer class="py-3 bg-grey">
    <p class="m-0 text-dark text-center ">Copyright &copy; MFK</p>
</footer>
</body>
</html>